{{ if .isWorkComputer -}}
[it-eng-caios]
aws_access_key_id = {{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/ftamvlwnfwdk6wepwpxkrvcjbq/username" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}
aws_secret_access_key = {{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/ftamvlwnfwdk6wepwpxkrvcjbq/password" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}

[it-eng-aws-ecr-chef-deployer]
aws_access_key_id = {{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/xeg5n4euxqynkcdls2dx7rgwmm/username" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}
aws_secret_access_key = {{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/xeg5n4euxqynkcdls2dx7rgwmm/password" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}

[atlas]
aws_access_key_id = {{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/mwqpjr5pavexusqswoqz3pa3z4/username" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}
aws_secret_access_key = {{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/mwqpjr5pavexusqswoqz3pa3z4/password" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}
{{ end -}}