#!/usr/bin/env bash
# Check if the repos are already cloned

mkdir -p $HOME/src

# UNIVERSAL REPOS ====================================================
cd $HOME/src
if ! test -d $HOME/src/Aechrok; then
    gh repo clone aechrok/Aechrok
fi

if ! test -d $HOME/src/Resume; then
    gh repo clone aechrok/Resume
fi

if ! test -d $HOME/src/dotfiles; then
    gh repo clone aechrok/dotfiles
fi

# WORK REPOS ========================================================
{{ if .isWorkComputer -}}
mkdir -p $HOME/src/coreweave
cd $HOME/src/coreweave

if ! test -d $HOME/src/coreweave/dnscontrol; then
    gh repo clone coreweave/dnscontrol
fi

if ! test -d $HOME/src/coreweave/dominion; then
    gh repo clone coreweave/dominion
fi

if ! test -d $HOME/src/coreweave/cw-tools; then
    gh repo clone coreweave/cw-tools
fi

if ! test -d $HOME/src/coreweave/okta; then
    gh repo clone coreweave/okta
fi

if ! test -d $HOME/src/coreweave/it-engineering; then
    gh repo clone coreweave/it-engineering
fi

if ! test -d $HOME/src/coreweave/nexus; then
    gh repo clone coreweave/nexus
fi

if ! test -d $HOME/src/coreweave/nexus-api; then
    gh repo clone coreweave/nexus-api
fi

if ! test -d $HOME/src/coreweave/thanos; then
    gh repo clone coreweave/thanos
fi

if ! test -d $HOME/src/coreweave/k8s-services; then
    gh repo clone coreweave/k8s-services
fi

# DevX
mkdir -p $HOME/src/coreweave/devx
cd $HOME/src/coreweave/devx

if ! test -d $HOME/src/coreweave/devx/coderdotcom; then
    gh repo clone coreweave/coderdotcom
fi

if ! test -d $HOME/src/coreweave/devx/cw-eng-cli; then
    gh repo clone coreweave/cw-eng-cli
fi

if ! test -d $HOME/src/coreweave/devx/devx-charts; then
    gh repo clone coreweave/devx-charts
fi

if ! test -d $HOME/src/coreweave/devx/devx-deploy; then
    gh repo clone coreweave/devx-deploy
fi

if ! test -d $HOME/src/coreweave/devx/devex-docs; then
    gh repo clone coreweave/devex-docs
fi
{{ end -}}

# PRIVATE REPOS ====================================================
{{ if not .isWorkComputer -}}
if ! test -d $HOME/src/infrastructure; then
    gh repo clone aechrok/infrastructure
fi

if ! test -d $HOME/src/aechrok.github.io; then
    gh repo clone aechrok/aechrok.github.io
fi
{{ end -}}
