[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Lee Martin
	email = lee@leemartin.us
{{ if eq .chezmoi.os "darwin" -}}
	signingkey = {{onepasswordRead "op://lammc3e2zlgjtsr2lmg6c3nd6q/qrb65j64nd2at6caszzprjva3u/signingkey" "II4A6DZ6H5H3XBDHVFWLX4MMTA" }}
{{ end -}}
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true