PATH="$HOME/.scripts:${KREW_ROOT:-$HOME/.krew}/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/opt/homebrew/bin:/usr/local/bin:/usr/local/sbin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin"

PATH="$(go env GOPATH)/bin:$PATH"

export KUBECONFIG=$(ls ~/.kube | grep conf | awk -v d="$HOME/.kube/" '{ printf "%s%s:", d,$0}')
export DOCKER_DEFAULT_PLATFORM=linux/arm64

{{ if .isWorkComputer -}}
#export DOPPLER_TOKEN={{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/4yuhb7kg7wmnmcvmknorxteeye/credential" "YVWHX4FPNVBEHNNKBHCNO2IJCI"}} # Okta Project
export DOPPLER_TOKEN={{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/6xaaq6k54gduufe277cwk3hhmm/credential" "YVWHX4FPNVBEHNNKBHCNO2IJCI"}}
export SRC_ENDPOINT=https://coreweave.sourcegraphcloud.com/
export SRC_ACCESS_TOKEN={{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/ztxo2fvc3wp7oofvmywod5mznm/credential" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}
{{ end -}}


alias dns="dig +noall +answer"
alias c="chezmoi"
alias k="kubectl"
alias kns="kubens"
alias kctx="kubectx"
alias kcheck="popeye"
alias listen="lsof -i -P | grep LISTEN | grep"
alias listen-all="lsof -i -P | grep LISTEN"
alias virt="virtctl console"
alias gam="/Users/lmartin/bin/gam7/gam"

{{ if .isWorkComputer -}}
alias vdi="ssh -i ~/.ssh/coreweave lmartin@lmartin-1.tenant-coreweave-vdi.coreweave.cloud"
alias tl="tsh login --proxy=teleport.na.int.coreweave.com"

{{ end -}}