PATH="$HOME/.scripts:${KREW_ROOT:-$HOME/.krew}/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/opt/homebrew/bin:/usr/local/bin:/usr/local/sbin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin"

PATH="$(go env GOPATH)/bin:$PATH"

export KUBECONFIG=$(ls ~/.kube | grep conf | awk -v d="$HOME/.kube/" '{ printf "%s%s:", d,$0}')
export NGROK_AUTHTOKEN={{onepasswordRead "op://lammc3e2zlgjtsr2lmg6c3nd6q/lh4gfkoeakzzm2bhmxdglbix5e/credential" "II4A6DZ6H5H3XBDHVFWLX4MMTA" }}
export DOCKER_DEFAULT_PLATFORM=linux/arm64

{{ if .isWorkComputer -}}
#export DOPPLER_TOKEN={{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/4yuhb7kg7wmnmcvmknorxteeye/credential" "YVWHX4FPNVBEHNNKBHCNO2IJCI"}} # Okta Project
export DOPPLER_TOKEN={{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/6xaaq6k54gduufe277cwk3hhmm/credential" "YVWHX4FPNVBEHNNKBHCNO2IJCI"}}
export SRC_ENDPOINT=https://coreweave.sourcegraphcloud.com/
export SRC_ACCESS_TOKEN={{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/ztxo2fvc3wp7oofvmywod5mznm/credential" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}
export OMLX_API_KEY="Authorization: Bearer {{onepasswordRead "op://nlytcyuvecwfsemch5rohs2nwu/njjli6uvqff76iunjmr44ja62e/credential" "YVWHX4FPNVBEHNNKBHCNO2IJCI" }}"
{{ end -}}
{{ if not .isWorkComputer -}}
export VULTR_INFERENCE_API_KEY={{onepasswordRead "op://lammc3e2zlgjtsr2lmg6c3nd6q/uornyxqbbmbfw2jc6ophztzd2m/credential" "II4A6DZ6H5H3XBDHVFWLX4MMTA" }}
{{ end -}}


alias sc="source ~/.zshrc"
alias dns="dig +noall +answer"
alias c="chezmoi"
alias cup="chezmoi update --force"
alias k="kubectl"
alias kns="kubens"
alias kctx="kubectx"
alias kcheck="popeye"
alias kgn="kubectl klock nodes"
alias kgp="kubectl klock pods"
alias kgs="kubectl klock services"
alias kgd="kubectl klock deployments"
alias kgi="kubectl klock ingress"
alias kl="kubectl logs"
alias listen="lsof -i -P | grep LISTEN | grep"
alias listen-all="lsof -i -P | grep LISTEN"
alias virt="virtctl console"

# oMLX completions
if (( ! $+functions[compdef] )); then
    autoload -Uz compinit
    compinit
fi

_omlx_up() {
    _arguments \
        '(-p --port)'{-p,--port}'[Port to bind (default: 11436)]:port:' \
        '(-m --model-dir)'{-m,--model-dir}'[Model directory]:model directory:_directories' \
        '(-h --help)'{-h,--help}'[Show help]'
}

_omlx_down() {
    _message 'Stop oMLX inference server'
}

_omlx_status() {
    _message 'Check oMLX server status'
}

compdef _omlx_up omlx-up
compdef _omlx_down omlx-down
compdef _omlx_status omlx-status

{{ if .isWorkComputer -}}
alias cwic="KUBECONFIG=/Users/lmartin/.kube/cwde12-coreenv-config.yaml cwic"
alias gam="/Users/lmartin/bin/gam7/gam"
alias vdi="ssh -i ~/.ssh/coreweave lmartin@lmartin-1.tenant-coreweave-vdi.coreweave.cloud"
alias tl="tsh login --proxy=teleport.na.int.coreweave.com"
{{ end -}}
